<%- include('../partials/header') %>
<main class="main" id="main">
  <div class="row row-cols-1 row-cols-md-3 gd-4">
    <% data.forEach(program => { %>
        <div class="col" id="div">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">
                        <%= program.title %>
                    </h2>
                    <img src="<%= program.img %>" alt="image of <%= program.title %>" srcset="">
                </div>
            </div>
        </div>

    <% }) %>
   </div>
</main>
<%- include('../partials/footer') %>