<%- include('../partials/header') %>
<main class="main" id="main">
    <div class="container">
        <div class="col-8">
            <h2 class="text-center"> <%= program.title %></h2>
            <li><%= program.program_description %></li>
            <li><%= program.program_rating %></li>
            <li><%= program.runtime %></li>
            <li><%= program.format %></li>
            
        </div>
    </div>
</main>
<%- include('../partials/footer') %>