<%- include('../partials/header') %>
<main class="main" id="main">
    <div class="container">
        <div class="col-8">
           <div class="col" id="div">
                 <div class="card h-100">
                     <div class="card-body">
                         <h2 class="card-title program-name">
                            <%= data.title %>
                         </h2>
                         <img src="/images/<%= data.img %>" alt="image of <%= data.title %>">
                         <ul class="turn-green">
                             <li>Description: <%= data.program_description %></li>
                             <li>Runtime: <%= data.runtime %></li>
                             <li>Format: <%= data.format %></li>
                             <li>General Rating: <%= data.rating %></li>
                             <li>Year Released: <%= data.yr_released %></li>
                             <li>Program Rating: <%= data.program_rating %></li>

                             <li>
                                    <a class="top-nav2" href="/programs">Go Back?</a:c>
                            </li>
            
        </div>
    </div>
</main>
<%- include('../partials/footer') %>